<div class="row">
  <div class="col-md-12">
    <form class="form-inline" action="/welcome" method="post">
      <div class="form-group">
        <label for="tamagotchi_name">What do you want to call your Tamagotchi?</label>
        <input class="form-control" type="text" name="tamagotchi_name" id="tamagotchi_name" placeholder='Try "Jon Hamm"'>
        <button class="btn btn-default" type="submit">Create my Tamagotchi</button>
      </div>
    </form>
  </div>
</div>
